<!DOCTYPE html>
<html ng-app="ionicApp">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

  <title>Ionic-AngularJS-Cordova</title>

  <!-- Ionic framework - replace the CDN links with local files and build -->    
  <link href="css/ionic.css" rel="stylesheet">
  <script src="js/constant.js"></script>
  <script src="js/ionic.bundle.js"></script>
  <script src="js/guid.js"></script>
  <script src="js/underscore.js"></script>
  <script src="js/indexeddb.js"></script>
  <script src="js/config.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
    

  <style>
      .box {height:300px;padding: 10px}
  </style>      
</head>

<body ng-controller="AppCtrl">

<ion-side-menus>
  <!-- Center content -->
  <ion-side-menu-content>

    <ion-nav-bar class="nav-title-slide-ios7 bar-positive">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button>
    </ion-nav-bar>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()">
        </button>
      </ion-nav-buttons>    
             
    <ion-nav-view animation="slide-left-right" name="main-view"></ion-nav-view>

  </ion-side-menu-content>

  <!-- Left menu -->
  <ion-side-menu side="left">
      <div class="list">

        <a menu-close href="#" class="item item-icon-left">
          <i class="icon ion-home"></i>
          Home
        </a>

        <a menu-close href="#/produto" class="item item-icon-left">
          <i class="icon ion-home"></i>
          Produtos
        </a>

        <a menu-close href="#/categoria" class="item item-icon-left">
          <i class="icon ion-home"></i>
          Categorias
        </a>        

      </div>  
  </ion-side-menu>
</ion-side-menus>


  <script id="home.html" type="text/ng-template">
 
  <ion-view title="Home">
      <ion-content class="padding">
          <ion-list>
            <ion-item ng-repeat="item in items" ng-click="edit(item)">
              {{item.descricao}}
              <span class="item-note">
                {{item.quantidade}}
              </span>                
            </ion-item>
            
          </ion-list>  
             
      </ion-content>
     </ion-view>

  </script>


<script id="produto.html" type="text/ng-template">

   <ion-view title="Produtos">
      <ion-content class="padding">
        <div class="list">

          <a class="item" href="#" ng-repeat="item in items">
            {{item.nome}}
            <span class="item-note">
              {{item.quantidade}}
            </span>
          </a>


        </div>    
           
      </ion-content>
      <div class="bar bar-footer bar-positive">
        <a class="button button-calm" href="#/produto-cadastro">Adicionar</a>
      </div>      
    </ion-view>
 
  </div>
</script>   
    
<script id="produto-cadastro.html" type="text/ng-template">

   <ion-view title="Adicionar">
      <form name="formProduto">
        <ion-content >
          <div class="card">
            <div class="item item-divider">
              Produto
            </div>
            <div class="item item-body">
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Nome</span>
                  <input type="text" placeholder="Nome do produto. Ex Arroz 5kg"  ng-model="produto.nome" ng-minlength="3"  required>
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Quantidade</span>
                  <input type="number" min="0" placeholder="quantidade" ng-model="produto.quantidade" required>
                </label>
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Rever</span>
                  <input type="number" min="0" placeholder="quantidade p/ entrar na lista" ng-model="produto.quantidade_lista">
                </label>                
                <label class="item item-input item-select">
                  <div class="input-label">
                    categoria
                  </div>
                  <select ng-model="produto.categoria" ng-options="categoria.id as categoria.nome for categoria in categorias"></select>
                </label>  
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Data de validade</span>
                  <input type="date" ng-model="produto.data_validade" required>
                </label>
                <label class="item item-input">
                  <div class="input-label">
                    Lista de Compras
                  </div>                
                  <label class="toggle">
                     <input type="checkbox" ng-model="produto.lista_automatico">
                     <div class="track">
                       <div class="handle"></div>
                     </div>
                  </label>
                </label>
              </div>
            </div>
          </div>
        </ion-content>
        <div class="bar bar-footer bar-positive">
            <button class="button button-balanced" ng-click="save(produto)" ng-disabled="formProduto.$invalid">salvar</button>
        </div> 

      </form>
    </ion-view>
 
</script>    

<script id="categoria.html" type="text/ng-template">

   <ion-view title="Categorias">
      <ion-content class="padding">
        <div class="list">
          <a class="item" href="#/categoria-cadastro?id={{item.id}}" ng-repeat="item in items" >
            {{item.nome}}
          </a>
        </div>    
      </ion-content>
      <div class="bar bar-footer bar-positive">
        <a class="button button-calm" href="#/categoria-cadastro">Adicionar</a>
      </div>      
    </ion-view>
 
</script>   

<script id="categoria-cadastro.html" type="text/ng-template">

   <ion-view title="Adicionar">
      <form name="form">
        <ion-content >
          <div class="card">
            <div class="item item-divider">
              Categoria
            </div>
            <div class="item item-body">
              <div class="list">
                <label class="item item-input item-stacked-label">
                  <span class="input-label">Nome</span>
                    <input type="text" placeholder="Nome do produto. Ex Besteira"  ng-model="categoria.nome" ng-minlength="3"  required>
                </label>
              </div>
            </div>
          </div>   
        </ion-content>
        <div class="bar bar-footer bar-positive">
            <button class="button button-balanced" ng-click="save(categoria)" ng-disabled="form.$invalid">salvar</button>
        </div>         
      </form>
    </ion-view>
 
</script> 
</body>
</html>
